{% load sekizai_tags smartsnippets_tags filertags %}
{% comment %}
<!-- SmartSnippets Variables
Button_Title=TextField
Text=TextField
Date=TextField
Accordion_ID=TextField
-->
{% endcomment %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="" href="#{{Accordion_ID}}" aria-expanded="false">
          <div class="row">
            <div class="col-md-9">
              {{Button_Title}}
            </div>
            <div class="col-md-3 pbs-accordion__date">
              {% if Date %}
                {{Date}}
              {% endif %}
            </div>
          </div>
        </a>
    </h4>
  </div>
  <div id={{Accordion_ID}} class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
    <div class="panel-body">
      {% autoescape off %}
        {{Text}}
      {% endautoescape %}
    </div>
  </div>
</div>